<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Sign In</h4>
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a routerLink="/register" style="text-decoration: none;">Don't have account? <span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-md-6">
                                <a routerLink="/forgot-password" class="text-dark" style="text-decoration: none;">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="card">
                                <div class="card-body text-center">
                                    <span (click)="signInGoogle()" style="cursor: pointer;">
                                        <img src="../../../assets/google.png" alt="google" style="width: 25px;"> Sign in with google
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>